{% extends "BenUserBundle::layout.html.twig" %}
{% block container %}

<div class="container">
    <h1>{{ user.username }}</h1>
    <ul>
        <li><b>firstName</b> : {{ user.firstName }}</li>
        <li><b>lastName</b> : {{ user.lastName }}</li>
        <li><b>email</b> : {{ user.email }}</li>
        <li><b>phoneNumber</b> : {{ user.phoneNumber }}</li>
        <li><b>address</b> : {{ user.address }}</li>
    </ul>
</div>

{% endblock container %}
